snippet SIG "sigma" A 
\sigma_{${1:ij}} $2
endsnippet

snippet MOM "couple stress" A 
m_{${1:ij}} $2
endsnippet

snippet EPS "epsilon" A 
\varepsilon_{${1:ij}} $2
endsnippet

snippet CUR "curvature" A 
\kappa_{${1:ij}} $2
endsnippet

snippet LEVI "Levi civita" A 
\epsilon_{${1:ijk}} $2
endsnippet

snippet CC "fourth order stiffness Tensor" A 
\mathbb{C}_{${1:ijkl}} $2
endsnippet

snippet DD "gradient" A 
\frac{\partial}{\partial ${1:x_{${2:ij}}}} $3
endsnippet

